@model AdvSystem.Models.SaidaCaixa

@{
    ViewData["Title"] = "Saída de Caixa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Deletar</h3>

<h6>Tem certeza que deseja deletar os dados abaixo?</h6>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PessoaFisica.Nome)
            @Html.DisplayFor(model => model.PessoaJuridica.RazaoSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sangria)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Sangria == true)
            {
                <div>Sim</div>
            }
            @if (Model.Sangria == false)
            {
                <div>Não</div>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="input-field col s12">
                <button type="submit" class="waves-effect btn red"><i class="small material-icons left">delete</i>Deletar</button>
                <a asp-action="Index" class="waves-effect btn-flat"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>
    </form>
</div>
