@model AdvSystem.Models.GerenciaProcesso

@{
    ViewData["Title"] = "Processos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Deletar Processo</h3>

<h6>Tem certeza que deseja deletar o processo?</h6>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movimentacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movimentacoes)
        </dd>
        <dt class = "col-sm-2">
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PessoaFisica.Nome)
            @Html.DisplayFor(model => model.PessoaJuridica.RazaoSocial)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="input-field col s12">
                <button type="submit" class="waves-effect btn red"><i class="small material-icons left">delete</i>Deletar</button>
                <a asp-action="Index" class="waves-effect btn-flat"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>
    </form>
</div>
