@model AdvSystem.Models.PessoaFisica
@{
    ViewData["Title"] = "Gerador de Peças";
}
<h3>Gerar Procuração para Pessoa Físisca</h3>

<hr />
<div>
    <p>PROCURÇÃO</p>
    <p>
        OUTORGANTE(S): @Model.Nome @Model.Sobrenome, domiciliado(s) na @Model.Rua, @Model.Numero, @Model.Bairro, @Model.Cidade, @Model.Uf, com o seguinte endereço eletrônico @Model.Email.
    </p>
    <p>OUTORGADO: #nome_adv, inscrito(a), com escritório #rua_adv, #numero_adv, #bairro_adv, #cidade_adv, #estado_adv, onde recebem informações e notificações.</p>
    <p>
        PODERES: Nos termos do art. 105 do Código de Processo Civil, os contidos na cláusula “ad judicia et extra”, para, em nome do outorgante, em qualquer Juízo,     Instância ou Tribunal, ou fora deles, defender seus interesses, podendo propor contra quem de direito as ações competentes e defender os interesses da outorgante nas contrárias, seguindo umas e outras, até final decisão, usando dos recursos legais e acompanhando-os, conferindo-lhes, ainda, poderes especiais para confessar, desistir, transigir, firmar compromissos ou acordos, receber e dar quitação, reconhecer procedência de pedido, renunciar a direito no qual se funda ação agindo em conjunto ou separadamente, podendo ainda substabelecer esta em outrem, com ou sem reservas de iguais poderes, dando tudo por bom, firme e valioso, em especial para #nome_cliente.
</p>
    <p>@Model.Cidade, @DateTime.UtcNow.ToLongDateString()</p>
    <p>
        _____________________________________<br />

        @Model.Nome @Model.Sobrenome
    </p>
    <p>
        _____________________________________<br />

        #nome_adv #sobrenome_adv
    </p>
</div>

<div class="row">
    <div class="row">
        <div class="input-field col s12">
            <a asp-action="Index" class="waves-effect btn-flat"><i class="material-icons left">arrow_back</i>Voltar</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



