@model AdvSystem.Models.PessoaFisica
@{
    ViewData["Title"] = "Gerador de Peças";
}
<h3>Gerar Procuração para Pessoa Físisca</h3>

<hr />
<div>
    <p>RECIBO</p>
    <p>Valor</p>
    <p>Recebi do(a) Dr(a). #adv a importância de #valor (valor por extenso) referente à #nprocesso #descricaoprocesso.</p>
    <p>@Model.Cidade, @DateTime.UtcNow.ToLongDateString()</p>
    <p>
        @Model.Nome @Model.Sobrenome
        @Model.Rg<br />
    </p>
</div>

<div class="row">
    <div class="row">
        <div class="input-field col s12">
            <a asp-action="Index" class="waves-effect btn-flat"><i class="material-icons left">arrow_back</i>Voltar</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



